# Build Folders
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.vs/
*.vscode/

# Visual Studio temporary files
*.dbmdl
*.bak
*.log
*.ndb
*.psess
*.vsp
*.vspx
*.sap
*.cache
*.pdb
*.opendb

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
packages/
# except build/, which is used as an MSBuild target.
!packages/build/

# NuGet v3
*.nuget.props
*.nuget.targets

# DotNet Core / ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.dotCover
*.ncrunch*
*.coverlet.*
TestResults/
publish/

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# IIS Express
IISExpress/
*.vspscc

# Visual Studio Code
.vscode/

# Others
*.log
*.vsix
